<form [formGroup]="parkingForm">

    Veiculo: <br/>
    <input type="text" size="40" formControlName="cars"/>
    <div *ngIf="parkingForm.controls.cars.errors?.required" class="error">
        Nome do Veículo é obrigatório!
    </div>

    <br/>
    
    Placa: <br/>
    <input type="text" size="10" maxlength="7" formControlName="plate">
    <div *ngIf="parkingForm.controls.plate.errors?.required" class="error">
        Placa do veiculo é obrigatória!
    </div>
    
    <br/>

    Motorista: <br/>
    <input type="text" size="40" formControlName="driver">
    <div *ngIf="parkingForm.controls.driver.errors?.required" class="error">
        Nome do Motorista é obrigatório!
    </div>

    <br/>

    Telefone Contato: <br/>
    <input type="text" size="20" formControlName="phoneNumber">
    <div *ngIf="parkingForm.controls.phoneNumber.errors?.required" class="error">
        Telefone para contato é obrigatório!
    </div>
</form>

<input style="margin-top: 30px;" type="button" value="Salvar" (click)="save()" [disabled]="parkingForm.invalid" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input style="margin-top: 30px;" type="button" value="Voltar" (click)="goToList()">