<div>
    <h1>
        Help Desk
    </h1>
    <a routerLink="list-help">Home</a>&nbsp;&nbsp;
    <a routerLink="register-help">Cadastrar HelpDesk</a>
</div>

<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>