<h2 style="margin: 0px;">
    {{h.nameIssuer}}
    {{h.emailIssuer}}
    {{h.nameResponder}}
    {{h.emailResponder}}
</h2>

<p style="margin-top: 5px;">
    {{h.title}}
</p>

<p>{{h.description}}</p>

<p>
    {{h.status}} <br />
    {{h.openDate}} - {{h.closeDate}}
</p>