<h4>
    Cadastro de HelpDesk
</h4>

<form [formGroup]="formHelp">

    Nome do registrante: <br />
    <input type="text" size="50" formControlName="nameIssuer"/>
    <div *ngIf="nameIssuer.touched && nameIssuer.errors?.required" class="error-message">
        Informe o Nome!
    </div>
    <br /><br />

    Email do registrante: <br />
    <input type="text" size="40" formControlName="emailIssuer" />
    <div *ngIf="emailIssuer.touched && emailIssuer.errors?.required" class="error-message">
        Informe o Email!
    </div>
    <br /><br />

    Nome do Responsável: <br />
    <input type="text" size="30" formControlName="nameResponder" />
    <div *ngIf="nameResponder.touched && nameResponder.errors?.required" class="error-message">
        Informe o Nome!
    </div>
    <br /><br />

    Titulo: <br />
    <textarea cols="40" rows="5" formControlName="title"></textarea>
    <div *ngIf="title.touched && title.errors?.required" class="error-message">
        Informe o Titulo!
    </div>
    <br /><br />

    Descrição: <br />
    <input type="text" min="1"  formControlName="description" />
    <div *ngIf="description.touched && description.errors?.required" class="error-message">
        Informe a descrição
    </div>
    <br /><br />

    Data de Abertura: <br />
    <input type="number" min="1"  formControlName="openDate"/>
    <div *ngIf="openDate.touched && openDate.errors?.required" class="error-message">
        Informe a data de Abertura!
    </div>
    <br /><br />

    status: <br />
    <input type="number" size="20" formControlName="status"/>
    <div *ngIf="status.touched && status.errors?.required" class="error-message">
        Informe o status!
    </div>
    <br /><br />


    Data de Fechamento: <br />
    <input type="number" min="1" formControlName="closeDate"/>
    <div *ngIf="closeDate.touched && closeDate.errors?.required" class="error-message">
        Informe a data de Fechamento!
    </div>
    <br /><br />

    <input type="button" value="Salvar" [disabled]="formBook.invalid" (click)="save()">
    &nbsp;&nbsp;
    <input type="button" value="Cancelar" (click)="cancel()">
</form>