<div>
    <form [formGroup]="formSearch.root">
        <select formControlName="searchType">
            <option value="1">Nome do registrante</option>
            <option value="2">Nome do responsável</option>
        </select>
        &nbsp;
        <input type="text" size="45" formControlName="searchText"/>
        &nbsp;
        <input type="button" value="Pesquisar" [disabled]="formSearch.invalid" (click)="search()" />
        &nbsp;
        <input type="button" value="Limpar" (click)="clearSearch()"/>
    </form>
</div>

<br />
<table style="width: 90%;" border="1">
    <thead>
        <tr>
            <th style="width: 30%;">Nome registrante</th>
            <th style="width: 25%;">Email registrante</th>
            <th style="width: 20%;">Nome responsável</th>
            <th style="width: 10%;">Email responsável</th>
            <th style="width: 10%;">Título</th>
            <th style="width: 5%;">Descrição</th>
            <th style="width: 5%;">Data de Abertura</th>
            <th style="width: 5%;">Status</th>
            <th style="width: 5%;">Data de Fechamento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let h of HelpDesk">
            <td>{{h.nameIssuer}}</td>
            <td>{{h.emailIssuer}}</td>
            <td>{{h.nameResponder}}</td>
            <td>{{h.emailResponder}}</td>
            <td style="text-align: center;">
                {{h.title}}
            </td>
            <td>{{h.description}}</td>
            <td style="text-align: center;">
                {{h.openDate}}
            </td>
            <td>{{h.status}}</td>
            <td>{{h.closeDate}}</td>
        </tr>
    </tbody>
</table>