<table border="1" style="width: 90%;">
    <thead>
        <tr>
            <th>Veiculo</th>
            <th>Placa</th>
            <th>Motorista</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let p of allParking">
        <tr>
            <td>{{ p.cars }}</td>
            <td>{{ p.plate }}</td>
            <td>{{ p.driver }}</td>
            <td>{{ fomartDate(p.entrance) }}</td>
            <td>{{ fomartDate(p.finish) }}</td>
            <td>{{ p.total }}</td>
            <td><button type="button" (click)="finishParking(p)"> ENCERRAR </button></td>
        </tr>    
    </tbody>
</table>