<h1>Pomodoro</h1>

<div *ngIf="currentPomodoro == null">
  <p>Você ainda não tem nenhum Pomodoro em andamento</p>
  <input type="button" value="Iniciar Pomodoro" (click)="startPomodoro()"/>
</div>

<div *ngIf="currentPomodoro != null">
  <p>Pomodoro em andamento:</p>
  <h1>{{ displayTimer | date:"mm:ss"}}</h1>
</div>

 
<p>Você executou {{allPomodoros.length}} pomodoros.</p>
<ul>
  <li *ngFor="let p of allPomodoros">
    [  
    <span *ngIf="p.type === types.TASK">TASK</span>
    <span *ngIf="p.type === types.BREAK">BREAK</span>
    <span *ngIf="p.type === types.LONG_BREAK">LONG BREAK</span>
    ]
    -
    {{ p.start | date:"HH:mm:ss" }} às
    {{ p.finish | date:"HH:mm:ss" }}
  </li>
</ul>