<h1>Signup form</h1>

<form [formGroup]="signupForm">

  Nome: <br/>
  <input type="text" size="45" formControlName="name" />
  <div *ngIf="name.errors?.required" class="error">
    Nome completo é obrigatório!
  </div>
  <div *ngIf="name.errors?.nameInvalid" class="error">
    Informe o nome completo!
  </div>
  <br/> <br/>

  E-mail: <br/>
  <input type="email" size="30" formControlName="email" />
  <div *ngIf="email.errors?.required" class="error">
    E-mail é obrigatório!
  </div>
  <div *ngIf="email.errors?.email" class="error">
    E-mail é inválido!
  </div>

  <br/> <br/>

  Login: <br/>
  <input type="text" size="20" formControlName="login" />
  <div *ngIf="login.errors?.required" class="error">
    Login é obrigatório!
  </div>
  <div *ngIf="login.errors?.minlength" class="error">
    Login deve ter ao menos 5 caractéres!
  </div>
  <div *ngIf="login.errors?.loginInvalid" class="error">
    Login invalálido!
  </div>
  <br/> <br/>

  Senha: <br/>
  <input type="password" size="20" formControlName="password" maxlength="8"/>
  <div *ngIf="password.errors?.required" class="error">
    Senha é obrigatória!
  </div>
  <div *ngIf="password.errors?.minlength || password.errors?.maxlength " class="error">
    A senha deve ter de 4 a 8 caractéres!
  </div>

  <br/> <br/>
  
  Confirme sua senha: <br/>
  <input type="password" size="20" formControlName="confirmPassword" />

  <br/><br/>

  <input type="button" value="Registrar!" [disabled]="signupForm.invalid" />

</form>